header{     
    height: 160px;
    width: 1190px;
    margin: auto;
}
.main{
    width: 1130px;
    margin-top: 45px;
    float: left;
}
#naver{
    width: 222px;
    height: 52px;
}   
.search1{  
    width: 586px;
    height: 56px;
    border:2px solid #19CE60;
    float : right;
    margin-right: 300px;
}
.input1{
    width: 474px;
    height: 50px;
    float: left ;
    border: 0px;
}
.button1{
    width: 56px;
    height: 56px;
    border: 0px;
    background-color: #19CE60;
    float: right;
}
nav{
    border-top: 1px solid #e4e8eb;
    border-bottom: 1px solid #e4e8eb;
    height: 52px;
    width : 1190px;
    margin: auto;
    
}
.group_list{
    width: 1130px;
    height: 52px;
}
ul{
    list-style:none;
}
li{
    float:left;
    margin-left: 12px;
    
}
.group_nav{
    text-decoration-line : none;
    font-size:1em;
    
}
a{
    text-decoration-line : none;
}

a:link{
    color: #19CE60;
}
a:visited{
    color: black;
}
section{
    width : 1128px;
    height: 3066px;
    margin: 0 auto;
    padding: 20px 30px;
}
.section1{
    float: left;
    width: 750px;
}
.section_img{
    width: 750px;
    height: 135px;
}
.section_img1{
    width: 750px;
    height: 135px;
}
.section_newstand{
    width: 750px;
    height: 407px;

}
.news{
    width: 718px;
    height: 24px;
    border: 1px solid #dae1e6;
    margin-top: 20px;
    background-color: #F7F9FA;
    padding: 12px 15px 11px;
    font-size: 13px;
}
.issus{
    width: 379.8px;
    height: 24px;
    float: left;
}
.issus1{
    width: 62.8px;
    height: 24px;
    float : left;
}
.issus_news{
    width: 370px;
    height: 24px;
}
.issus2{
    width: 210px;
    height: 24px;
    float: right;

}
.newshome{
    margin-left: 7px;
    margin-right: 4px;
}
.section_newstand_title{
    width: 750px;
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
}
.link_newsstand{
    height:18px;
    width: 100px;
    float:left;
}
.selection_press{
    height: 18px;
    width: 95px;
    float: left;
}
.section_newstand_content{
    width: 750px;
    height: 266px;
}
.section_newstand_content_teg1{
    width: 123px;
    height: 65px;
    border: 1px solid #dae1e6;
    float: left;
}
.new_a{
    display: block;
    padding: 23px 0 22px;
    text-align: center;
}
.content_teg1{
    height: 20px;
}

.section_container{
    width: 748px;
    height: 2181px;
    border: 1px solid black;
}
.section_container_content{
    width: 750px;
    height: 2116px;
    border: 1px solid black;
    padding: 35px 0px 27px;
}
.group_title{
    overflow: hidden;
    padding-bottom: 17px;
}
.title1{
    float: left;
}
.title_size{
    font-size : 14px;
    color: #000;
}
.section_All_container_header{
    width:750px;
    height: 49px;
    border: 1px solid black;
    float : left
    overflow: hidden;
}
.header_content{
    width: 92px;
    height: 49px;
    border: 1px solid black;
    float: left;
    text-align: center;
}
.header_content1{
    width: 90px;
    height: 49px;
    border: 1px solid black;
    float: left;
    text-align: center; 
}
.section_Low_container{
    overflow-anchor: none;
    padding-top: 4px;
    width: 750px;

}
.section_Low{
    width: 750px;
    height: 810px;
    border: 1px solid black;
}
.Log_tag{
    overflow: hidden;
    position: relative;
}
.list_theme_wrap{
    padding: 18px 0;
}
.Low_tag_img1{
    width:170px;
    height: 114px;    
}
.Low_tag_thumb{
    width: 170px;
    height: 114px;
    overflow: hidden;
    float: left;
    display: block;
    position: relative;
    margin-right: 21px;
}
.Low_tag_info{
    font-size: 13px;
    overflow: hidden;
    display: block;
    padding: 4px 47px 0 0;
    float:right;
    width: 400px;
}
.tag_info{
    margin: 2px 0px 0px;
}
.section_media_part{
    width: 748px;
    height: 241px;
    border: 1px solid black;
}
.media_view_warp{
    width: 748px;
    height: 240px;
    padding: 18px 0px 17px;
    
}

.media_view{
    width: 777px;
    height: 236px;
    margin: 0px -27px -31px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.media_area{
    width: 232px;
    height: 205px;
    float: left;
}
.media_info{
    padding:12px 0px 0px;
}
.section2{
    float: right;
    width: 350px;
}
.column_wrap{
    position: relative;
    width: 350px;
    background-color: #fff;
}
.Login{
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    height: 105px;
}
.Login_msg{
    padding-left: 3px;
    color: grey;
    font-size: 12px;
    margin: 0px;
}
.Login_tag{
    display: block;
    padding: 15px 0;
    -webkit-border-radius: 2px;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    height: 16px;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    text-align: center; 
    font-size: 13px;
}
.ico_naver{
    display: inline-block;
    width: 60px;
    height: 12px;
    background-position: -138px -330px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 2px 5px 0 0;
    color: #fff;
}
.Login_name{
    width: 60px;
    height: 12px;
    margin: 2px 5px 0 0 ;
    color: #fff;
    font-size: 13px;
}
.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.sub_area{
    margin: 14px 8px 0 4px;
}
.lock_box{
    float: left
}
.lock_id_pwd{
    color: #404040;
    font-size: 12px;
}
.lock_join{
    float: right;
    color: #404040;
    font-size: 12px;
}
.time{
    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
}
.show_section{
    overflow: hidden;
    width: 350px;
    height: 1809px;
    background-color: #fff;
}
.shop_view{
    padding: 12px 0 13px;
    line-height: 17px;
    height: 19px;
    
}
.trand_shop{
    float: left;
    margin: 2px 0 0 1px;
    font-size: 13px;
    line-height: 17px;
    color: #000;
}
.trand_shop2{
    float: right;
    font-weight: 700;
    margin: 0px;
}
.shop_tag{
    float: left;
    font-size: 13px;
    margin-left: 13px;
}
.group_mall{
    overflow: hidden;
    padding: 12px 4px 11px 10px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #dae1e6;
}
.mall_area{
    font-size: 12px;
}
.mall_teg{
    line-height: 23px;
    color: #404040;
    font-size: 12px;
}
.group_item{
    position: relative;
    padding: 55px 8px 20px;
}
.shop_control{
    overflow: hidden;
}
.shop_ul{
    padding: 0px;
    margin-top: -10px;
    height: 772px;
    width: 337px;
}
.shop_item{
    margin-top: 10px;
    margin-left: 0px;
}
.title_box{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 12px;
}
.shop_item_img{
    width: 107px;
    height: 146px;
}
.shop_a{
    display: block;
    margin-right: 5px;
}
.shop_title{
    font-size:12px;
    margin: 0;
    font-weight: 700px;
}
.shop_title1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 16px;
    text-align: center;
}
.shop_page{
    margin-top: 18px;
    height: 29px;
    border: 1px solid black;
}
.thumb_box{
    overflow: hidden;
    position: relative;
}
.shopping_news{
    margin: 0 8px;
    padding: 19px 0 17px;
    border-top: 1px solid #e4e8eb;
}
.news_title{
    position: relative;
    padding-left: 5px;
}
.shopping_ul{
    margin: 13px 5px 0;
    line-height: 28px;
    height: 196px;
    padding: 0px;
}
.shopping_a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #202020;
    float: left;
}
.shopping_title{
    margin-right: 13px;
    color: #000;
    font-weight: 700;
    font-size:12px;
    float: left;
}
.title_box{
    margin-top: 5px;
}
.group_plus{
    position: relative;
    padding: 55px 0 19px;
    margin: 0 8px;
    border-top: 1px solid #e4e8eb;
}
.plus_tag{
    position: absolute;
    top: 20px;
    left: 5px;
    font-size: 0;
    line-height: 0;
}

footer{
    width : 1190px;
    height: 423px;
    margin: 0 auto;
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}

.footer_inner{
    padding: 0px 30px 92px;
}
.footer_inner_banner_area{
    overflow: hidden;
    padding: 24px 0;
    border-bottom: 1px solid #e4e8eb;
}
.banner{
    float: left;
}
.banner_img{
    overflow: hidden;
    position: relative;
    float: left;
    width: 160px;
    height: 86px;
}
.banner_content{
    overflow: hidden;
    height: 86px;
    width: 190px;
    padding: 2px 2px 0 16px;
    font-size: 12px;
    line-height: 1.25;
    box-sizing: border-box;
    text-align: left;
    float: left;
}
.banner_em{
    display: block;
    overflow: hidden;
    font-weight: 700;
    color: #58c464;
}
.banner_strong{
    display: block;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 700;
}
.content_esc{
    overflow: hidden;
}
.content_esc1{
    overflow: hidden;
    line-height: 18px;
}
.notice_area{
    overflow: hidden;
    padding: 16px 0 15px;
    border-bottom: 1px solid #e4e8eb;
}
.notice_box{
    float:left;
}
.aside_area{
    overflow: hidden;
    border-bottom: 1px solid #e4e8eb;
}
.partner_box_wrap{
    float: left;
    width: 780px;
    padding: 20px 0;    
}
.partner_box{
    overflow: hidden;
}
.title{
    margin: 0px;
    float: left;
    width: 87px;
    font-size: 12px;
}
.link_partner{
    font-size: 12px;
    float: left;
    color: #777;
}
.service_box_wrap{
    overflow: hidden;
    float: right;
    width: 350px;
    padding: 28px 0;
}
.service_box{
    overflow: hidden;
    float: left;
    max-width: 150px;
}
.service_logo{
    float: right;
    margin-left: 12px;
}
.service_info{
    overflow: hidden;
}
.service_title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 2px;
    font-size: 12px;
}
.corp_area{
    padding-top: 25px;
}
.list_corp{
    overflow: hidden;
    float: left;
    margin-right: 13px;
}
.corp_itme{
    float: left;
    color: #777;
    font-size: 12px;
}


